::selection {
	background: #cef1fc;
}

::-moz-selection {
	background: #cef1fc;
}

figure div img {
	margin-top: 20px;
	max-width: 500px;
}

figure.w-richtext-align-floatleft div img {
	margin: 0 20px 0 0;
}

figure.w-richtext-align-floatleft figcaption {
	margin: 0 20px 0 0;
}

figure.w-richtext-align-floatright div img {
	margin: 0 0 0 20px;
}

figure.w-richtext-align-floatright figcaption {
	margin: 0 0 0 20px;
}

div.w-richtext figcaption {
	font-size: 12px;
	line-height: 14px;
	color: #666;
}

div.w-richtext a {
	text-decoration: underline;
}

div.w-richtext a.highlight {
	text-decoration: none !important;
}
